header
    h2 About this blog
    p
       BiRDS on a W!RE is the conversation platform of Informaat for issues in the experience design space. We aim to share relevant, insightful and thought-provoking items complementing our work and the way we think. ~ More...
