.row
    .company-logo.col-sm-4
        a(href="/blog/")
            img(src="/images/blog-logo.png" alt="Informaat weblog")

    .col-sm-8
        h1 BiRDS on a W!RE
        h2 The blog of Informaat experience design
