header
    h2
        | A strategic design movement started by followers
    h3
        | Trip report from INTERSECTION15

    address
        | by Peter J. Bogaards
        time
            | ~ 22 May 2015

p.intro THIS YEAR THE SECOND EDITION OF INTERSECTION TOOK PLACE IN BERLIN. THE EVENT WAS INTEGRATED WITH THE CONFERENCE DESIGN MANAGEMENT EUROPE, ORGANIZED BY THE RENOWNED DESIGN MANAGEMENT INSTITUTE, UNDER THE MOTTO ‘DESIGN TO ALIGN’. DESIGN TO ALIGN EXPLORES THE INTERSECTION OF STRATEGIC ENTERPRISE DESIGN AND DESIGN MANAGEMENT TO BRING DESIGN TO A STRATEGIC LEVEL, MAKING USE OF HIGH-LEVEL DESIGN APPROACHES SUCH AS USER EXPERIENCE DESIGN, SERVICE DESIGN, DESIGN THINKING AND ENTERPRISE ARCHITECTURE. ATTENDEES WITH VARIOUS BACKGROUNDS, PROFESSIONS AND PERSPECTIVES ALL SHARED THEIR COMMON INTEREST: GETTING DESIGN AT THE STRATEGIC LEVEL OF THE ENTERPRISE.

p After connecting design activities in large organizations to the technology work of enterprise architecture, design and modeling, this year the field of Design Management was added to the intersection of relevant disciplines. The field of DM “encompasses the ongoing processes, business decisions, and strategies that enable innovation and create effectively-designed products, services, organizations, communications, environments, systems and brands that enhance our quality of life and provide organizational success.”

p Adding another discipline to the mix provided interesting presentations, conversations and interactions. The emerging network community of digital leaders, brand managers and designers on strategic enterprise design is definitely growing and getting stronger.

p Unfortunately, I could only attend the second part of the multi-track event and witnessed – as at all events – presentations of varying quality and relevance. However, what I heard from audience members, the full three day conference was worthwhile attending.

p Arriving at the event on Wednesday, I immediately had to join a panel discussion on Enterprise Design Management, moderated by Ellen Solomon and Milan Guenther. The panel addressed wide-ranging issues on the roles of designers, architects and managers in the enterprise, and how to collaborate in order to increase the power of design. Hopefully, the points of views provided by the members of the panel made sense.

h3 My highlight: Design for millennials

p One of the highlights was the opening keynote by Gerry McGovern (a.k.a. @gerrymcgovern) “Designing for Trust“. Gerry provided a provocative and disturbing analysis of how most people have lost their trust and faith in politicians, institutions and marketing/advertising. This appears to be especially true for the generation of so-called Millenials or Generation Y (born after 1990). This generation is skeptical, impatient, cynical, ethical and disloyal (almost) by nature. Therefore, designing for organizations must be based on authenticity, human values and interests. As previous generations are less skeptical, more patient and loyal, C-level management of most organizations still doesn’t see the millennials coming clear enough. But not for long anymore, considering the many startups disrupting incumbents. Or as Gerry put it so vividly: “Loyalty is for super-suckers”.

h3 The movement

p At the end of the conference, Philippe van Caenegem (sr. Director Strategic Innovation, Salesforce) a.k.a. @ThinkingArch showed an inspiring and instructive short video on how to start a movement. This clip of just 3 minutes and 9 seconds shows that’s not the leader but the first, second and next followers who start a movement and create momentum.

p In this way, I consider attendees of INTERSECTION (the conference) as the first followers of an emerging movement. A movement which sees the value, power and possibilities of design in enterprises as a force for change. A change which makes enterprises fit for the world of the 21st century in much better ways, providing value to all. Millennials included.

footer
    header
        h4 More on INTERSECTION15
        p The conference, the picture gallery, the videos, and #intersection15.


