html,body {
    color: @color__white;
    background-color: @color__white;
    font-size: 16px;
    font-family: @font_normal;
    line-height: 1,2em;
    height: 100%;
}

body {

}

h1 {
    font-family: @font_header;
    font-size: 1.75rem;
    line-height: 0;
}

h2, h3, h4, h5 {
    font-family: @font_header_small;
}


p {
    margin-bottom: 1.6rem;
    line-height: 1.6rem;
}

a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {

    }
}

ul, ol {
    padding: 0;
}

strong {
    //font-family: @font_bold;
}

em {

}


address {

}

table {
    margin-bottom: 2rem;

    td:first-child {
        padding-right: 1rem;
        width: 40%;
    }
}

@media (max-width: 768px) {
    body {
        background: @color__white;
        font-size: 14px;
    }

    h1 {
        font-size: 1.8rem;
    }
}
