@color__white: #fff;
@color__black: #000;
@color__green: #43808A;
@color__gold: #9D7518;
@color__purple: rgba(193, 191, 234, 1);


@color__text-dark: #2c2c2c;
@color__orange: #ffb700;
@color__blue: #007be3;
@color__dark-blue: #013969;

@font_normal: 'verdana';
@font_header: 'aaarghnormal';
@font_header_small: 'lane_-_narrowregular';
@font_header_bold: 'dejavu_sansbold';

@radius: 6px;
