.container {
    background-color: @color__black;
    display: table;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section article {
    margin-top: 2rem;
}

section aside {
    margin-top: 2rem;
}

aside address {
    a {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-decoration: none;
    }
}
